@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET是構建使用HTML，CSS和JavaScript的好網站和Web應用程序的免費Web框架。</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>入門</h2>
        <p>
            ASP.NET MVC為您提供了一個強大的，基於模式的方式來構建動態網站，能夠清楚的關注點分離，為您提供舒心，敏捷開發在標記完全控制。
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>獲得更多的圖書館</h2>
        <p>NuGet是一個免費的Visual Studio擴展，可以很容易地添加，刪除和更新庫和工具在Visual Studio項目。</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>好資源</h2>
        <p>mrkt 的程式學習筆記</p>
        <p><a class="btn btn-default" href="http://kevintsengtw.blogspot.tw/" target="_blank">馬上去看看 &raquo;</a></p>
    </div>
</div>